body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

hr {
    width: 150px;
}

.responsive {
    width: 100%;
}

/* ------ NAV BAR -------- */

.navbar {
    font-size: 18px;
    background-color: rgb(60, 60, 60);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgb(150, 150, 150);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
}

.nav-links:hover, .navbar-toggle:hover {
    color: white;
}
/* ------------------------- */

.main {
    height: 95vh;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.79) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    justify-content: center;
    display: flex;
    align-items: center;
}

#name-wrap, #about-me {
    text-align: center;
}

#name-wrap h1 {
    font-size: 70px; 
    color: rgb(60, 60, 60);
}

#name-wrap h2 {
    font-size: 40px;
    color: rgb(100, 100, 100);
}

#about-me-wrap {
    height: 50vh;
    display: flex;
    justify-content: center;
}

#about-me {
    max-width: 500px;   /* ------ FIX W/ MEDIA QUERY ------- */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-me p {
    font-size: 16px;
    padding: 0 40px;
    line-height: 20px;
}

#project-title {
    height: 10vh;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-project-wrap {
    /* height: 90vh; */
    background: rgb(247, 247, 247);
}

#my-project-wrap h1 {
    text-align: center;
    margin: 0;
}

.projects {
    height: 400px;
    display: flex;
    align-items: center;
}

.project-text-left {
    padding-right: 40px;
}

.squares {
    /* text-align: center; */
    width: 30vw;
}

#left-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#right-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.flex-wrap, .image-wrap {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.flip-y-axis-mobile {
    padding-left: 40px;
}

img {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.20);
}

.button {
    height: 30px;
    width: 110px;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.10);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

section {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

#skills {
    height: 50vh;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 0 100px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#skills h3 {
    font-weight: 500;
}

#contact {
    text-align: center;
}

.fab, .email {
    padding: 6px;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.image-box {
    height: 328px;
    width: 500px;
}

.images {
    width: 100%;
    height: 100%
}

.slide-in-blurred-top {
    width: 300px;
    box-shadow: none;
}



/* -------- ANIMATIONS & EFFECTS ----------- */

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 1.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.roll-in-left {
	-webkit-animation: roll-in-left 0.8s ease-out both;
	        animation: roll-in-left 0.8s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-21 15:4:15
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }


/* ----------------------------------------------
 * Generated by Animista on 2018-12-21 15:7:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2018-12-21 15:11:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }  

/* ---------- EFFECTS when in VIEW ----------- */

  
/* --------------- MEDIA QUERIES -------------------------- */

@media screen and (max-width: 540px) {
    #about-me p {
        font-size: 12px;
        padding: unset;
    }
    .main {
        height: 85vh;
    }
}

@media screen and (max-width: 320px) {
    #about-me p {
        font-size: 8px;
        padding: unset;

    }
    #about-me h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    #name-wrap h1 {
        font-size: 36px;
    }
    #name-wrap h2 {
        font-size: 20px;
    }
    .projects {
        height: 500px;
        flex-direction: column;
    }
    .flex-wrap {
        width: 85vw;
    }
    .squares {
        width: 100%;
    }
    .squares h2 {
        font-size: 16px;
    }
    .squares p {
        font-size: 12px;
    }
    .image-wrap, .image-box {
        width: unset;
        height: unset;
        max-width: 350px;
    }
    .image-wrap {
        margin: 28px;
    }
    #about-me-wrap {
        height: unset;
    }
    #project-title {
        padding-top: 20px;
    }
    .project-text-left {
        padding-right: unset;
    }
    #my-project-wrap h1, #about {
        font-size: 25px;
    }
    #about-me {
        margin: 30px;
    }
    .flip-y-axis-mobile {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: unset;
    }
    #right-wrap.squares {
        align-items: unset;
        text-align: unset;
    }
    #skills {
        padding: 30px;
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 5vh;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 20px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .nav-links:hover {
        color: white;
    }
    .slide-in-blurred-top {
        width: 600px;
}

/* --------- fixing margin issues (temporary) -------- */

@media screen and (min-width: 1360px) {
    #left-wrap {
        margin-left: 40px;
    }
    #right-wrap {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1450px) {
    #left-wrap {
        margin-left: 50px;
    }
    #right-wrap {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1515px) {
    #left-wrap {
        margin-left: 60px;
    }
    #right-wrap {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1590px) {
    #left-wrap {
        margin-left: 80px;
    }
    #right-wrap {
        margin-right: 80px;
    }
}
@media screen and (min-width: 1630px) {
    #left-wrap {
        margin-left: 120px;
    }
    #right-wrap {
        margin-right: 120px;
    }
}

/* --------- fixing margin issues (temporary) -------- */

@media screen and (min-width: 1360px) {
    #left-wrap {
        margin-left: 40px;
    }
    #right-wrap {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1450px) {
    #left-wrap {
        margin-left: 50px;
    }
    #right-wrap {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1515px) {
    #left-wrap {
        margin-left: 60px;
    }
    #right-wrap {
        margin-right: 60px;
    }
}

@media screen and (min-width: 1590px) {
    #left-wrap {
        margin-left: 80px;
    }
    #right-wrap {
        margin-right: 80px;
    }
}
@media screen and (min-width: 1630px) {
    #left-wrap {
        margin-left: 120px;
    }
    #right-wrap {
        margin-right: 120px;
    }
}

/* space between for entire div for each 'project' item

/* in ABOUT section, upload a couple of my designs!! like 'jessezelay' green portfolio does