body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

hr {
    width: 150px;
}

.responsive {
    width: 100%;
}

nav {
    width: 100vw;
    height: 5vh;
    min-height: 40px;
    display: flex; 
    justify-content: space-between;
    background-color: rgb(60, 60, 60);
}

nav a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.nav-items {
    width: 200px;
    align-items: center;
    display: flex;
    padding: 0 10px;
}

#nav-2 {
    justify-content: space-between;
}

.main {
    height: 95vh;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.79) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    justify-content: center;
    display: flex;
    align-items: center;
}

#name-wrap, #about-me {
    text-align: center;
}

#name-wrap h1 {
    font-size: 70px; 
    color: rgb(60, 60, 60);
}

#name-wrap h2 {
    font-size: 40px;
    color: rgb(100, 100, 100);
}

#about-me-wrap {
    height: 50vh;
    display: flex;
    justify-content: center;
}

#about-me {
    max-width: 500px;   /* ------ FIX W/ MEDIA QUERY ------- */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-me p {
    font-size: 16px;
    padding: 0 40px;
    line-height: 20px;
}

#project-title {
    height: 10vh;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-project-wrap {
    /* height: 90vh; */
    background: rgb(247, 247, 247);
}

#my-project-wrap h1 {
    text-align: center;
    margin: 0;
}

.projects {
    height: 400px;
    display: flex;
    align-items: center;
}

.squares {
    /* text-align: center; */
    width: 30vw;
}

#left-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#right-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.flex-wrap, .image-wrap {
    width: 50vw;
    display: flex;
    justify-content: center;
}

img {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.20);
}

.button {
    height: 30px;
    width: 110px;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.10);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

section {
    display: flex;
    width: 260px;
    justify-content: space-between;
}

#skills {
    height: 50vh;
    background-color: rgb(60, 60, 60);
    color: white;
    padding: 0 100px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skills h3 {
    font-weight: 500;
}

#contact {
    text-align: center;
}

.fa, .email {
    padding: 6px;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.image-box {
    height: 328px;
    width: 500px;
}

.images {
    width: 100%;
    height: 100%
}





@media screen and (max-width: 540px) {
    #about-me p {
        font-size: 12px;
        padding: unset;
    }
}

@media screen and (max-width: 320px) {
    #about-me p {
        font-size: 8px;
        padding: unset;

    }
    #about-me h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 562px) {
    #name-wrap h1 {
        font-size: 36px;
    }
    #name-wrap h2 {
        font-size: 20px;
    }
    .projects {
        height: 500px;
        flex-direction: column;
    }
    .flex-wrap {
        width: 85vw;
    }
    .squares {
        width: 100%;
    }
    .squares h2 {
        font-size: 16px;
    }
    .squares p {
        font-size: 12px;
    }
    .image-wrap, .image-box {
        width: unset;
        height: unset;
        max-width: 350px;
    }
    .image-wrap {
        margin: 28px;
    }
    #about-me-wrap {
        height: unset;
    }
    #project-title {
        padding-top: 20px;
    }
    #my-project-wrap h1, #about {
        font-size: 25px;
    }
    #about-me {
        margin: 30px;
    }
    .flip-y-axis-mobile {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    #right-wrap.squares {
        align-items: unset;
        text-align: unset;
    }
    #skills {
        padding: 30px;
        font-size: 12px;
        line-height: 20px;
    }
}

/* space between for entire div for each 'project' item

/* in ABOUT section, upload a couple of my designs!! like 'jessezelay' green portfolio does